@import "tailwindcss";

:root {
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-geist), sans-serif;
  background: #F7F8FA;
  color: #111827;
}

input[type="range"] {
  accent-color: #00BAF2;
}
